*, {
box-sizing: border-box;
}

//the padding should be on all the content EXCEPT header and footer
body {
  padding: 0 40px 0 70px;
  margin: auto;
}

.site_title{
  padding: 30px;
  align-items: center;
}

.guides{
  margin: auto;
}

.wcag_guides{
  padding: 30px;
}

.component_guides{
  padding: 30px;
}

.guides_header{
  padding: 15px;
}

.guides_title{
  font-size: 25px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-shadow: #333333;
  gap: 2rem;
  margin: 1.25rem;
}

.content_link :hover{
  border: 2px solid #000;
}

.content_container{
  background-color: #92d2f9;
  border-radius: 15px;
  height: 10rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  text-align: center;

  /*flex: 1 1 15rem;
  flex-basis: calc((100% - 3 * 0.5rem) / 4 - 1rem); //makes the maximun boxes in a row 4.
  */
}

.content_container :hover{
  border: transparent;
}
.content_container :first-child {
  height:5rem;
  width:7rem;
  background-color: green;
}
.principle_symbols {
  //fill content to max size of box
  width: max-content;
  height: max-content;
}

//Phone size
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .content_container {
    flex-basis: calc(100% - 1rem);
    max-width: 12rem;
    max-height: 8rem;
  }
}