*, {
box-sizing: border-box;
}

//the padding should be on all the content EXCEPT header and footer
body > {
  padding: 0 40px 0 70px;
  margin: auto;
}

.site_title{
  padding: 30px;
  align-items: center;
}

.guides{
  margin: auto;
}

.wcag_guides{
  padding: 30px;
}

.component_guides{
  padding: 30px;
}

.guides_header{
  padding: 15px;
}

.guides_title{
  font-size: 25px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-shadow: #333333;
  gap: 2rem;
  margin: 1.25rem;
}

.content_link :hover{
  border: 2px solid #000;
}

.content_container{
  background-image: linear-gradient(to bottom left, #ffffff 4%, #28a5de 100%);
  border: 0.5px solid gray;
  box-shadow: 5px 5px 5px lightgray;
  border-radius: 15px;
  height: 224px;
  width: 288px;
  padding: 50px 30px;
  display: flex; //
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content_container :hover{
  border: transparent;
}

.content_container > img {
  max-width: 90px;
  max-height: 80px;

}


h3 {
  display: flex;
  align-items: flex-end;
}

//Phone size
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .content_container {
    flex-basis: calc(100% - 1rem);
    max-width: 12rem;
    max-height: 8rem;
  }
}