//the padding should be on all the content EXCEPT header and footer
body > {
  padding: 0 40px 0 70px;
  margin: auto;
}

.title_centering {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.site_title{
  padding: 30px;
  margin-right: 440px;


  .h1 {
    color: #055890;
  }
}

.guides{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wcag_guides{
  padding: 30px;
  max-width: 1300px;
}

.component_guides{
  padding: 30px;
  max-width: 1300px;
}

.guides_header{
  padding: 15px;
}

.guides_title{
  font-size: 25px;
  display: flex;
  align-items: flex-end;
  color: #055890;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-shadow: #333333;
  gap: 2rem;
  margin: 1.25rem;
}



.content_container{
  background-color: #28a5de; // in case the browser doesn't support gradient, inspired by W3Schools
  background-image: radial-gradient(100% 100%, #28a5de, #f7f7f7);
  border: 2px #f7f7f7;
  box-shadow: 5px 5px 5px lightgray;
  border-radius: 15px;
  height: 124px;
  width: 228px;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
}

//When users hovers over the buttons, the buttons will scale by 0.05 times its size
.content_container:hover  {
  transform: scale(1.05);
}

.content_container > img {
  max-width: 90px;
  max-height: 80px;

}
h3, h5 {
  font-size: 20px;
  text-decoration: none;
}

//Phone size
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .content_container {
    flex-basis: calc(100% - 1rem);
    max-width: 12rem;
    max-height: 8rem;
  }
}