*{
 margin: 0;
  padding: 0;
}

.container-left{
  position: relative;
  width: 30em;
  margin-top: 5rem;
  margin-left: 50px;
}


.btn{
 /* background-color: gray;*/
  display: flex;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  padding: 0 16px ;
  cursor: pointer;
}

.btn .text-btn1{
  font-size: 19px;
  color: #000000;
}
.btn .arrow-down{
  display: flex;
  font-size: 19px;
  height: 20px;
  width: 20px;
  color: #000000;
  transition: 0.4s;
}

.btn.open .arrow-down{
  transform: rotate(-180deg);
}

.checklist{
  position: relative;
  margin-top: 15px;
  padding: 15px;
  display: none;
  color: white;
}


.btn.open~ .checklist{
  display: block;
}

.checklist .element{
  display: flex;
  list-style: none;
  align-items: center;
  height: 55px;
  cursor: pointer;
  transition: 0.4s;
  padding: 0 15px;
  border-radius: 5px;
}

.checklist .element:hover{
  background-color: #e8e8e8;
}

.element .element-text{
  color: black;
  font-size: 17px;
}

.element .checkbox{
  display: flex;
  height: 15px;
  width: 15px;
  border: 1px solid #000000;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-right: 10px;
  transition: all 0.4s ease-in-out;
}

.element.checked .checkbox{
  background-color: black;
  border-color: #000000;
}

.checkbox .check-icon{
  color: white;
  font-size: 10px;
  transform: scale(0);
  transition: all 0.4s ease-in-out;

}

.element.checked .check-icon{
  color: white;
  transform: scale(1);
}

.infobox{
  position: absolute;
  bottom: 80px;
  top: 10rem;
  right: 0;
  z-index: 999;
  width: 50rem;
  height: 55rem;
  background-color: gray;
}


/*
.infobox{
  display: flex;
  background-color: gray;
  height: 40rem;
  width: 50rem;
  float: right;
}

.infobox p{
  font-size: 25px;
  padding-top: 30px;
  padding-left: 50px;
}*/




