@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
*{
  margin: 0;
  padding: 0;
}


#robust-logo{
  position: relative;
  top: -12rem;
  padding-right: 60px;
  left: 50px;
  width: 9rem;
  height: 9rem;
  float: right;
}