@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
*{
  margin: 0;
  padding: 0;
}

#understandable-logo{
  max-height: 60px;
  max-width: 60px;
}

/*
#understandable-logo{
  position: relative;
  top: -12rem;
  padding-right: 60px;
  right: 9rem;
  width: 9rem;
  height: 9rem;
  float: right;
}
*/