.page-header {
  //background: linear-gradient(to bottom, #318CE7 ,#92d2f9 65% );
  background: lightgray;
  padding: 30px;

  h1 {
    margin-bottom: 20px;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
