---
title: Button
---

<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" %>
<%= stylesheet_link_tag "button" %>

  <div class="page-header">
    <h1> Button </h1>
    <p>
    A button triggers an action after the user has clicked on it. When triggered, an action is followed (call to action).
    </p>
    <p>
    Button and links should not be used as the same, where links direct the user to another webpage.
    </p>

  </div>

 <div class="container">

  <div class="container-left">
      <div class="checklist-container">
        <div class="btn" >
          <span class="text-btn" id="carousel-btn">Action</span>
          <span class="arrow-down">
            <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>

        <ul class="checklist" >
          <li class="element">
            <span class="checkbox">
              <i class="fa-solid fa-check" id= "check-icon"></i>
            </span>
            <span class="element-text">Submit button
            <p> A submit button used on a form should change context when clicked on  (G80).
                A submit button should be present in every form component (H32).
            </p>
            </span>
          </li>
          <li class="element">
            <span class="checkbox">
              <i class="fa-solid fa-check" id= "check-icon"></i>
            </span>
            <span class="element-text">Button with select element
            <p>When selecting an option from the select element, the context is not changes unless the submit button is triggered by the user (H84).
            </p>
            </span>
          </li>
        </ul>
      </div>

      <div class="checklist-container">
        <div class="btn" >
           <span class="text-btn" id="carousel-btn">Content</span>
           <span class="arrow-down">
                 <i class="fa-solid fa-chevron-down"></i>
           </span>
          </div>

          <ul class="checklist">
            <li class="element">
               <span class="checkbox" >
                <i class="fa-solid fa-check" id= "check-icon"></i>
               </span>
               <span class="element-text">Button label
               <p>The button text/label should be clear and descriptive, and describing the action of the button.
               </p>
               </span>
            </li>
            <li class="element">
               <span class="checkbox">
                 <i class="fa-solid fa-check" id= "check-icon"></i>
               </span>
               <span class="element-text">Button with input field
               <p>A button rendered adjacent to an input field should be labeled to describe the input field (G167).
               </p>
               </span>
            </li>
          </ul>
        </div>

        <div class="checklist-container">
          <div class="btn">
             <span class="text-btn" id="carousel-btn">Style</span>
             <span class="arrow-down">
               <i class="fa-solid fa-chevron-down"></i>
             </span>
            </div>

              <ul class="checklist">
                <li class="element">
                 <span class="checkbox">
                    <i class="fa-solid fa-check "id= "check-icon"></i>
                 </span>
                  <span class="element-text">Same design
                  <p>Repeated button should have the same design within the same website.
                  </p>
                  </span>
                  </li>
                  <li class="element">
                    <span class="checkbox">
                     <i class="fa-solid fa-check "id= "check-icon"></i>
                    </span>
                    <span class="element-text">Primary, Secondary, Tertiary buttons
                    <p>Categorize the button in types of priorities and make each category have the same design throughout the website.
                    </p>
                    </span>
                   </li>

                    </ul>
           </div>

            <div class="checklist-container">
               <div class="btn">
                <span class="text-btn" id="carousel-btn">Accessibility</span>
                <span class="arrow-down">
                  <i class="fa-solid fa-chevron-down"></i>
                </span>
                </div>

                <ul class="checklist">
                 <li class="element">
                 <span class="checkbox">
                   <i class="fa-solid fa-check "id= "check-icon"></i>
                 </span>
                 <span class="element-text">Keyboard navigation
                 <p>When using keyboard, no changes should occur when a component is on focus (G107) (H84).
                 </p>
                 </span>
                 </li>
                 <li class="element">
                 <span class="checkbox">
                 <i class="fa-solid fa-check "id= "check-icon"></i>
                 </span>
                 <span class="element-text">Alt attribute on images as button
                 <p>Image elements used as submit buttons should have an alt attribute to label the button action(H36).
                 </p>
                 </span>
                 </li>
               </ul>
              </div>

           </div>

        <div class="container-right">
          <div class="slideShow">
          <div class="slides">
          <section>
          <h1>Button</h1>

          <h2>Call to action</h2>
           <ul>
            <li>Sign up</li>
            <li>Learn more</li>
           </ul>

           <br>

           <h2>Forms to submit (3.2.2 On input about predictable)</h2>
           <ul>
            <li>Submit button</li>
            <li>Search button </li>
           </ul>

           <br>

           <h2>Navigation</h2>
           <ul>
            <li>Next/previous page</li>
           </ul>

           <br>

           <h2>Dont use button component when</h2>
           <ul>
             <li>You dont want to encourage an action. For example, you want them to be able to navigate through one
             section of pages, but you dont want to encourage the user to navigate through other section within this section. </li>
           </ul>

           <br>

           <img id="code-button" src="/images/code-button.png" alt=".">
          </section>
          <section>Innhold 2</section>
          <section>Innhold 3</section>
          <section>Innhold 4</section>
          </div>

          <div class="controls">
          <span class="right arrow">
          <i class="material-icons">keyboard_arrow_right</i>
          </span>
          <span class="left arrow">
          <i class="material-icons"> keyboard_arrow_left</i>
          </span>

          </div>
         </div>
</div>

        </div>



<%= javascript_include_tag "button.js" %>


