---
title: Operable
---

<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" %>
<%= stylesheet_link_tag "operable" %>

<div class="page-header">
    <h1> 2. Operable </h1>
    <p>
      Start with the checklist, go through the tips from there and you are already far in you universal design journey.
    </p>
    <p>
      The content is based off Web Content Accessibility Guidelines (WCAG),
    what we provide are suggestions and you are encouraged to find different solutions as well
    </p>

  </div>

  <div class="container" data-component="checklist">

    <div class="container-left">
        <div class="checklist-container">
          <div class="btn" >
            <span class="text-btn" id="carousel-btn">2.1 Keyboard Accessibility</span>
            <span class="arrow-down">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>

          <ul class="checklist" >
            <li class="element">
              <span class="checkbox">
                <i class="fa-solid fa-check" id= "check-icon"></i>
              </span>
              <span class="element-text">All functionality needs to be fully accessible through
              keyboard input.</span>
            </li>
            <li class="element">
              <span class="checkbox">
                <i class="fa-solid fa-check" id= "check-icon"></i>
              </span>
              <span class="element-text">The user should be able to simply switch of key shortcuts
              that consist of one character.</span>
            </li>
          </ul>
        </div>

        <div class="checklist-container">
          <div class="btn" >
             <span class="text-btn" id="carousel-btn">2.2 Enough Time</span>
             <span class="arrow-down">
                   <i class="fa-solid fa-chevron-down"></i>
             </span>
            </div>

            <ul class="checklist">
              <li class="element">
                 <span class="checkbox" >
                  <i class="fa-solid fa-check" id= "check-icon"></i>
                 </span>
                 <span class="element-text">The user must be able to adjust the time limits,
                 so they can complete the task they were supposed to do.</span>
              </li>
              <li class="element">
                 <span class="checkbox">
                   <i class="fa-solid fa-check" id= "check-icon"></i>
                 </span>
                 <span class="element-text">The user should have the option to stop, pause or hide automatically
                 changing content. This will prevent users from being distracted by content that move or scrolls automatically.</span>
              </li>
            </ul>
          </div>

          <div class="checklist-container">
            <div class="btn">
               <span class="text-btn" id="carousel-btn">2.3 Seizures and Physical Reactions</span>
               <span class="arrow-down">
                 <i class="fa-solid fa-chevron-down"></i>
               </span>
              </div>

                <ul class="checklist">
                  <li class="element">
                   <span class="checkbox">
                      <i class="fa-solid fa-check "id= "check-icon"></i>
                   </span>
                    <span class="element-text">The website should not contain anything that blinks more than three times
                     per second.</span>
                    </li>

                    </ul>
             </div>

              <div class="checklist-container">
                       <div class="btn" >
                          <span class="text-btn" id="carousel-btn">2.4 Navigable</span>
                          <span class="arrow-down">
                                <i class="fa-solid fa-chevron-down"></i>
                          </span>
                         </div>

                         <ul class="checklist">
                           <li class="element">
                              <span class="checkbox" >
                               <i class="fa-solid fa-check" id= "check-icon"></i>
                              </span>
                              <span class="element-text">The opportunity for the user to jump directly to the main content.</span>
                           </li>
                           <li class="element">
                              <span class="checkbox">
                                <i class="fa-solid fa-check" id= "check-icon"></i>
                              </span>
                              <span class="element-text">Websites have titles that are useful and descriptive.</span>
                           </li>
                           <li class="element">
                               <span class="checkbox">
                                <i class="fa-solid fa-check" id= "check-icon"></i>
                               </span>
                               <span class="element-text">The content in a web page should be presented in a logical order.</span>
                           </li>
                           <li class="element">
                              <span class="checkbox">
                               <i class="fa-solid fa-check" id= "check-icon"></i>
                              </span>
                              <span class="element-text">The purpose of the links is clearly stated in the link text.</span>
                           </li>
                           <li class="element">
                              <span class="checkbox">
                               <i class="fa-solid fa-check" id= "check-icon"></i>
                              </span>
                              <span class="element-text">The user should have more than one way to navigate the website.</span>
                           </li>
                           <li class="element">
                             <span class="checkbox">
                                <i class="fa-solid fa-check" id= "check-icon"></i>
                             </span>
                              <span class="element-text">Headings and labels should be descriptive.</span>
                           </li>
                            <li class="element">
                             <span class="checkbox">
                               <i class="fa-solid fa-check" id= "check-icon"></i>
                             </span>
                             <span class="element-text">When navigating with keyboard, all content should get visible focus.</span>
                             </li>
                         </ul>
                       </div>
              <div class="checklist-container">
                          <div class="btn">
                             <span class="text-btn" id="carousel-btn">2.5 Input Modalities</span>
                             <span class="arrow-down">
                               <i class="fa-solid fa-chevron-down"></i>
                             </span>
                            </div>

                              <ul class="checklist">
                                <li class="element">
                                 <span class="checkbox">
                                    <i class="fa-solid fa-check "id= "check-icon"></i>
                                 </span>
                                  <span class="element-text">The content o the website should be able to use simple pointer input.</span>
                              </li>
                              <li class="element">
                               <span class="checkbox">
                                  <i class="fa-solid fa-check "id= "check-icon"></i>
                               </span>
                               <span class="element-text">Incorrect input with mouse or touch screen should be easier to prevent.</span>
                              </li>
                              <li class="element">
                                <span class="checkbox">
                                 <i class="fa-solid fa-check "id= "check-icon"></i>
                                </span>
                                <span class="element-text">The name should contain the text presented visually.</span>
                                </li>

                     </ul>
                </div>
             </div>

          <div class="container-right">
            <div class="slideShow">
            <div class="slides">
            <section>
            <h1>2.1 Keyboard Accessibility</h1>

            <p class="Info">Web content should be designed in a way that allows the users to navigate and interact
             with it effectively.</p>
            <p class"Info"> Give non-text content a descriptive text alternative and if its complex add on a meaningful caption. </p>

            <br>


            <p class"Info"> All functionality should be able to be operable through a keyboard interface
             without requiring specific timings for individual keystrokes.</p>

            <br>


            <p class"Info">Its important to make sure keyboard focus is visible and indicates the element that
            currently has focus.</p>

            </section>
            <section>
            <h1> 2.2 Enough time </h1>

            <p class="Info"> There should be enough time for the users to read and use content.
            If the content is time based, provide user controls to adjust or extend the time limits.</p>
            <br>

            <p class="Info"> Have a option for users to turn off or adjust any time limits for content that
            updates or scrolls automatically. </p>

            </section>

            <section>
            <h1> 2.3 Seizures and Physical Reactions</h1>

            </section>
            <section>Innhold 4</section>
            </div>

            <div class="controls">
            <span class="right arrow">
            <i class="material-icons">keyboard_arrow_right</i>
            </span>
            <span class="left arrow">
            <i class="material-icons"> keyboard_arrow_left</i>
            </span>

            </div>
           </div>
  </div>

          </div>




  <%= javascript_include_tag "operable.js" %>
