<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" %>

<div class="page-header">
    <h1> 2. Operable </h1>
    <p>
      Start with the checklist, go through the tips from there and you are already far in you universal design journey.
    </p>
    <p>
      The content is based off Web Content Accessibility Guidelines (WCAG),
    what we provide are suggestions and you are encouraged to find different solutions as well
    </p>

  </div>

  <div class="container">

    <div class="container-left">
        <div class="checklist-container">
          <div class="btn" >
            <span class="text-btn" id="carousel-btn">2.1 Keyboard Accessibility</span>
            <span class="arrow-down">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>

          <ul class="checklist" >
            <li class="element">
              <span class="checkbox">
                <i class="fa-solid fa-check" id= "check-icon"></i>
              </span>
              <span class="element-text">2.1.1  Keyboard</span>
            </li>
            <li class="element">
              <span class="checkbox">
                <i class="fa-solid fa-check" id= "check-icon"></i>
              </span>
              <span class="element-text">2.1.2 No Keyboard Trap</span>
            </li>
            <li class="element">
              <span class="checkbox">
                <i class="fa-solid fa-check " id= "check-icon"></i>
              </span>
              <span class="element-text">2.1.3 Keyboard (No Exception)</span>
            </li>
            <li class="element">
             <span class="checkbox">
               <i class="fa-solid fa-check " id= "check-icon"></i>
             </span>
             <span class="element-text">2.1.4 Character Key Shortcuts</span>
             </li>
          </ul>
        </div>

        <div class="checklist-container">
          <div class="btn" >
             <span class="text-btn" id="carousel-btn">2.2 Enough Time</span>
             <span class="arrow-down">
                   <i class="fa-solid fa-chevron-down"></i>
             </span>
            </div>

            <ul class="checklist">
              <li class="element">
                 <span class="checkbox" >
                  <i class="fa-solid fa-check" id= "check-icon"></i>
                 </span>
                 <span class="element-text">2.2.1 Timing Adjustable</span>
              </li>
              <li class="element">
                 <span class="checkbox">
                   <i class="fa-solid fa-check" id= "check-icon"></i>
                 </span>
                 <span class="element-text">2.2.2 Pause, Stop, Hide</span>
              </li>
            </ul>
          </div>

          <div class="checklist-container">
            <div class="btn">
               <span class="text-btn" id="carousel-btn">2.3 Seizures and Physical Reactions</span>
               <span class="arrow-down">
                 <i class="fa-solid fa-chevron-down"></i>
               </span>
              </div>

                <ul class="checklist">
                  <li class="element">
                   <span class="checkbox">
                      <i class="fa-solid fa-check "id= "check-icon"></i>
                   </span>
                    <span class="element-text">2.3.1 Three Flasher or Below Threshold</span>
                    </li>

                    </ul>
             </div>

              <div class="checklist-container">
                       <div class="btn" >
                          <span class="text-btn" id="carousel-btn">2.4 Navigable</span>
                          <span class="arrow-down">
                                <i class="fa-solid fa-chevron-down"></i>
                          </span>
                         </div>

                         <ul class="checklist">
                           <li class="element">
                              <span class="checkbox" >
                               <i class="fa-solid fa-check" id= "check-icon"></i>
                              </span>
                              <span class="element-text">2.4.1 Bypass Blocks</span>
                           </li>
                           <li class="element">
                              <span class="checkbox">
                                <i class="fa-solid fa-check" id= "check-icon"></i>
                              </span>
                              <span class="element-text">2.4.2 Page Titled</span>
                           </li>
                           <li class="element">
                               <span class="checkbox">
                                <i class="fa-solid fa-check" id= "check-icon"></i>
                               </span>
                               <span class="element-text">2.4.3 Focus Order</span>
                           </li>
                           <li class="element">
                              <span class="checkbox">
                               <i class="fa-solid fa-check" id= "check-icon"></i>
                              </span>
                              <span class="element-text">2.4.4 Link Purpose (In Context)</span>
                           </li>
                           <li class="element">
                              <span class="checkbox">
                               <i class="fa-solid fa-check" id= "check-icon"></i>
                              </span>
                              <span class="element-text">2.4.5 Multiple Ways</span>
                           </li>
                           <li class="element">
                             <span class="checkbox">
                                <i class="fa-solid fa-check" id= "check-icon"></i>
                             </span>
                              <span class="element-text">2.4.6 Headings and Labels</span>
                           </li>
                            <li class="element">
                             <span class="checkbox">
                               <i class="fa-solid fa-check" id= "check-icon"></i>
                             </span>
                             <span class="element-text">2.4.7 Focus Visible</span>
                             </li>
                         </ul>
                       </div>
              <div class="checklist-container">
                          <div class="btn">
                             <span class="text-btn" id="carousel-btn">2.5 Input Modalities</span>
                             <span class="arrow-down">
                               <i class="fa-solid fa-chevron-down"></i>
                             </span>
                            </div>

                              <ul class="checklist">
                                <li class="element">
                                 <span class="checkbox">
                                    <i class="fa-solid fa-check "id= "check-icon"></i>
                                 </span>
                                  <span class="element-text">2.5.1 Pointer Gestures</span>
                              </li>
                              <li class="element">
                               <span class="checkbox">
                                  <i class="fa-solid fa-check "id= "check-icon"></i>
                               </span>
                               <span class="element-text">2.5.2 Pointer Cancellation</span>
                              </li>
                              <li class="element">
                                <span class="checkbox">
                                 <i class="fa-solid fa-check "id= "check-icon"></i>
                                </span>
                                <span class="element-text">2.5.3 Label in Name</span>
                                </li>

                     </ul>
                </div>
             </div>

          <div class="container-right">
            <div class="slideShow">
            <div class="slides">
            <section>
            <h1>1.1.1a Text Alternativ for non-text content</h1>
            <img src="/images/1.1.1 text alternativ.png" alt="Bilde av kode" width="455" height="50">
            <p class="Info"> Images only for decoration or otherwise not presented to the user need to not be disruptive for assistive technology.
             Even more simple, use CSS for decorative pieces. </p>
            <p class"Info"> Give non-text content a descriptive text alternative and if its complex add on a meaningful caption. </p>

            <br>

            <img src="/images/1.1.2.png" alt="HTML av kode" width="455" height="50">
            <p class"Info"> You can also use aria-label/aria-labelby instead of alt </p>

            <br>

            <img src="/images/1.1.3.png" alt="HTML av kode" width="455" height="50">
            <p class"Info"> Is the non-text content or object complex? Use long description. </p>

            <br>

            <img src="/images/1.1.4.png" alt="HTML av kode" width="455" height="50">
            <p class"Info"> Convey the possible interaction with non-text content. </p>


            </section>
            <section>Innhold 2</section>
            <section>Innhold 3</section>
            <section>Innhold 4</section>
            </div>

            <div class="controls">
            <span class="right arrow">
            <i class="material-icons">keyboard_arrow_right</i>
            </span>
            <span class="left arrow">
            <i class="material-icons"> keyboard_arrow_left</i>
            </span>

            </div>
           </div>
  </div>

          </div>




  <%= javascript_include_tag "operable.js" %>
