---
title: Pagination
---

<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" %>
<%= stylesheet_link_tag "tabs" %>

  <div class="page-header">
    <h1> Tabs </h1>
    <p> Tabs allow the user to navigate through different subsections on the same page.
    </p>
    <p> It is not like a header navigation, where they navigate the main content and change the whole context. While tabs change only a smaller section on the same page and do not change the whole context, but only the content that is chosen. In short, it is a same-page link that will direct you to a distinct section of the content
    </p>
    <p>Tabs can come in the form of a list or a panel.
    </p>
    <p>Tablist is list of links representing the subsection and will directly take you to that section when clicked. Example of this is a table of content.
    </p>
    <p>Tabpanel can be compared as a folder with “tabs”, and when selected it shows the following information. The difference between the list and the panel is the panel shows only on section at the time when selected while in the information of the list is present at all time on the page.
    </p>

  </div>


 <div class="container" data-component="checklist">

  <div class="container-left">
      <div class="checklist-container">
        <div class="btn" >
          <span class="text-btn" id="carousel-btn">Content</span>
          <span class="arrow-down">
            <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>

        <ul class="checklist" >
          <li class="element">
            <span class="checkbox">
              <i class="fa-solid fa-check" id= "check-icon"></i>
            </span>
            <span class="element-text">The title of the subsection must not be too long.</span>
          </li>
          <li class="element">
            <span class="checkbox">
              <i class="fa-solid fa-check" id= "check-icon"></i>
            </span>
            <span class="element-text"> Arrange the tabs in order so it makes sense for the user.</span>
          </li>
        </ul>
      </div>

      <div class="checklist-container">
        <div class="btn" >
           <span class="text-btn" id="carousel-btn">Style</span>
           <span class="arrow-down">
                 <i class="fa-solid fa-chevron-down"></i>
           </span>
          </div>

          <ul class="checklist">
            <li class="element">
               <span class="checkbox" >
                <i class="fa-solid fa-check" id= "check-icon"></i>
               </span>
               <span class="element-text">The tabs should only be on one row and not stack on top of each other. </span>
            </li>
            <li class="element">
               <span class="checkbox">
                 <i class="fa-solid fa-check" id= "check-icon"></i>
               </span>
               <span class="element-text">Maximum tabs is 7 (+- 2) (Miller’s Law). </span>
            </li>
            <li class="element">
                 <span class="checkbox">
                    <i class="fa-solid fa-check" id= "check-icon"></i>
                 </span>
                 <span class="element-text">The provided code does not include nested or sub tabs.</span>
            </li>
          </ul>
        </div>

        <div class="checklist-container">
          <div class="btn">
             <span class="text-btn" id="carousel-btn">Advisory Style</span>
             <span class="arrow-down">
               <i class="fa-solid fa-chevron-down"></i>
             </span>
            </div>

              <ul class="checklist">
                <li class="element">
                 <span class="checkbox">
                    <i class="fa-solid fa-check "id= "check-icon"></i>
                 </span>
                  <span class="element-text">Style the active/on focus tab differently</span>
                  </li>
                  <li class="element">
                    <span class="checkbox">
                     <i class="fa-solid fa-check "id= "check-icon"></i>
                    </span>
                    <span class="element-text">Set the first tab as active on page load.</span>
                   </li>
                    </ul>
           </div>
           <div class="checklist-container">
                     <div class="btn">
                        <span class="text-btn" id="carousel-btn">Accessibility </span>
                        <span class="arrow-down">
                          <i class="fa-solid fa-chevron-down"></i>
                        </span>
                       </div>

                         <ul class="checklist">
                           <li class="element">
                            <span class="checkbox">
                               <i class="fa-solid fa-check "id= "check-icon"></i>
                            </span>
                             <span class="element-text">If content in the tabs have images or table, ensure to add alt text is added. </span>
                             </li>
                             <li class="element">
                               <span class="checkbox">
                                <i class="fa-solid fa-check "id= "check-icon"></i>
                               </span>
                               <span class="element-text">Tabs panel should be able to navigate with keyboard by using arrow keys and tab key.</span>
                              </li>
                             </ul>
                      </div>
           </div>

        <div class="container-right">
          <div class="slideShow">
          <div class="slides">
          <section>
          <h1>EXAMPLE - HTML</h1>
          <br>
          <p class="Info"> The html code below is an examle of a tabpanel that is Universally Designed </p>
            <img class= "tabs_ex" src="/images/tabs_ex_html.png" alt="Code example for tabpanel written in HTML" >
          </section>

          <section>
          <h1> EXAMPLE - CSS </h1>
          <br>
          <p class="Info"> The css code below is an examle of a tabpanel that is Universally Designed </p>
            <img class= "tabs_ex" src="/images/tabs_ex_css.png" alt="Code example for tabpanel written in CSS" >
          </section>

          <section>
          <h1> EXAMPLE - JavaScript </h1>
          <p class="Info"> The css code below is an examle of a tabpanel that is Universally Designed </p>
            <img class= "tabs_ex" src="/images/tabs_ex_js.png" alt="Code example for tabpanel written in JavaScript" >
          </section>
          <section>Innhold 4</section>
          </div>

          <div class="controls">
          <span class="left arrow">
            <i class="material-icons"> keyboard_arrow_left</i>
          </span>
          <span class="right arrow">
            <i class="material-icons">keyboard_arrow_right</i>
          </span>


          </div>
         </div>
</div>

        </div>





<%= javascript_include_tag "perceivable.js" %>

