---
title: Perceivable
---
<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" %>

  <div class="page-header">
    <h1> 1. Perceivable </h1>
    <p>
    The users ability to perceive and understand the content on the website is the most important part of a developers job. This is why WCAGs 1st principle is Perceivable. We have broken the Guidelines into Action Points, to make it more understandable for web developers.
    </p>
    <p>
    By going through the checklist below on the left you will get a starting point, and related tips, tricks and examples on the right for every checkpoint.
    The content is based off Web Content Accessibility Guidelines (WCAG), what we provide are simplified language, and easy action points for you to better the Universal Design of your website or application.
    </p>
    <img id="perceivable-logo" src="/images/low-vision.svg" alt="Low vision logo">
  </div>




  <div class="container" data-component="checklist">

  <div class="container-left">
      <div class="checklist-container">
        <div class="btn" >
          <span class="text-btn" id="carousel-btn">1.1 Text Alternativ</span>
          <span class="arrow-down">
            <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>

        <ul class="checklist" >
          <li class="element">
            <span class="checkbox">
              <i class="fa-solid fa-check" id= "check-icon"></i>
            </span>
            <span class="element-text">Images only for decoration or not presented to the user need to be non-disruptive for assistive technology. </span>
          </li>
          <li class="element">
            <span class="checkbox">
              <i class="fa-solid fa-check" id= "check-icon"></i>
            </span>
            <span class="element-text">Even more simple, use CSS for decorative pieces.</span>
          </li>
          <li class="element">
            <span class="checkbox">
              <i class="fa-solid fa-check " id= "check-icon"></i>
            </span>
            <span class="element-text">Give non-text content a descriptive text alternative, and if its complex add a meaningful caption</span>
          </li>
          <li class="element">
            <span class="checkbox">
                <i class="fa-solid fa-check " id= "check-icon"></i>
            </span>
            <span class="element-text">You can use aria-label/aria-labelby instead of alt</span>
          </li>
          <li class="element">
             <span class="checkbox">
                <i class="fa-solid fa-check " id= "check-icon"></i>
             </span>
             <span class="element-text">Is the non-text content or object complex? Use long description</span>
          </li>
          <li class="element">
              <span class="checkbox">
                <i class="fa-solid fa-check " id= "check-icon"></i>
              </span>
              <span class="element-text">Convey the possible interaction with non-text content</span>
           </li>
        </ul>
      </div>

      <div class="checklist-container">
        <div class="btn" >
           <span class="text-btn" id="carousel-btn">1.2 Time Based media</span>
           <span class="arrow-down">
                 <i class="fa-solid fa-chevron-down"></i>
           </span>
          </div>

          <ul class="checklist">
            <li class="element">
               <span class="checkbox" >
                <i class="fa-solid fa-check" id= "check-icon"></i>
               </span>
               <span class="element-text">Audio- and video-only content has a transcript and/or captions.</span>
            </li>
            <li class="element">
               <span class="checkbox">
                 <i class="fa-solid fa-check" id= "check-icon"></i>
               </span>
               <span class="element-text">Place the text-alternative close to the media-player or make it easy to reach through a link or button.  </span>
            </li>
            <li class="element">
                 <span class="checkbox">
                    <i class="fa-solid fa-check" id= "check-icon"></i>
                 </span>
                 <span class="element-text">Although not a demand, having a textual index in the start of the content is greatly appreciated. </span>
            </li>
            <li class="element">
                  <span class="checkbox">
                    <i class="fa-solid fa-check" id= "check-icon"></i>
                  </span>
                  <span class="element-text">For Video without sound, make an explanatory audio track</span>
            </li>

          </ul>
        </div>

        <div class="checklist-container">
          <div class="btn">
             <span class="text-btn" id="carousel-btn">1.3 Adaptable</span>
             <span class="arrow-down">
               <i class="fa-solid fa-chevron-down"></i>
             </span>
            </div>

              <ul class="checklist">
                <li class="element">
                 <span class="checkbox">
                    <i class="fa-solid fa-check "id= "check-icon"></i>
                 </span>
                  <span class="element-text">Headings are made to fit in the hierarchy with code</span>
                  </li>
                  <li class="element">
                    <span class="checkbox">
                     <i class="fa-solid fa-check "id= "check-icon"></i>
                    </span>
                    <span class="element-text">Lists are defined by code</span>
                   </li>
                   <li class="element">
                     <span class="checkbox">
                       <i class="fa-solid fa-check "id= "check-icon"></i>
                     </span>
                     <span class="element-text">All the html element are in the correct sequence to make sense even without styling</span>
                    </li>
                    <li class="element">
                         <span class="checkbox">
                           <i class="fa-solid fa-check "id= "check-icon"></i>
                         </span>
                         <span class="element-text">Give reference by using a combination of shape, accessible name and/or position.</span>
                    </li>
                    <li class="element">
                         <span class="checkbox">
                           <i class="fa-solid fa-check "id= "check-icon"></i>
                         </span>
                         <span class="element-text">Content can be viewed in both portrait and landscape mode.</span>
                    </li>
                    <li class="element">
                         <span class="checkbox">
                           <i class="fa-solid fa-check "id= "check-icon"></i>
                         </span>
                         <span class="element-text">Use the autocomplete attribute for individual form input fields to convey the expected input</span>
                    </li>
                    <li class="element">
                         <span class="checkbox">
                           <i class="fa-solid fa-check "id= "check-icon"></i>
                         </span>
                         <span class="element-text">Use icons to identify the input purpose. </span>
                    </li>
                    </ul>
           </div>
           <div class="checklist-container">
                     <div class="btn">
                        <span class="text-btn" id="carousel-btn">1.4 Distinguishable</span>
                        <span class="arrow-down">
                          <i class="fa-solid fa-chevron-down"></i>
                        </span>
                       </div>

                         <ul class="checklist">
                           <li class="element">
                            <span class="checkbox">
                               <i class="fa-solid fa-check "id= "check-icon"></i>
                            </span>
                             <span class="element-text">Links are easy to spot and understand the purpose of.</span>
                             </li>
                             <li class="element">
                               <span class="checkbox">
                                <i class="fa-solid fa-check "id= "check-icon"></i>
                               </span>
                               <span class="element-text">Information conveyed by colour differences is aso available in text</span>
                              </li>
                              <li class="element">
                                <span class="checkbox">
                                  <i class="fa-solid fa-check "id= "check-icon"></i>
                                </span>
                                <span class="element-text">Sound that starts automatically and does not stop within three seconds must have an audio control mechanism</span>
                               </li>
                               <li class="element">
                                    <span class="checkbox">
                                      <i class="fa-solid fa-check "id= "check-icon"></i>
                                    </span>
                                    <span class="element-text">Large text (at least 24px, or 19px and bold) and images of large text = contrast ratio 3:1 against backround riight behind it.</span>
                               </li>
                               <li class="element">
                                    <span class="checkbox">
                                      <i class="fa-solid fa-check "id= "check-icon"></i>
                                    </span>
                                    <span class="element-text">Text less than 24px, or 19px and bold should have contrast ratio of 4,5:1 with the background right behind it</span>
                               </li>
                               <li class="element">
                                    <span class="checkbox">
                                      <i class="fa-solid fa-check "id= "check-icon"></i>
                                    </span>
                                    <span class="element-text">All text can be resized without assistive technology up to 200% without loss of content and functionality</span>
                               </li>
                               <li class="element">
                                    <span class="checkbox">
                                      <i class="fa-solid fa-check "id= "check-icon"></i>
                                    </span>
                                    <span class="element-text">Use text instead of pictures of text, except for essential or customizable pictures.
                                    </span>
                               </li>
                               <li class="element">
                                   <span class="checkbox">
                                     <i class="fa-solid fa-check "id= "check-icon"></i>
                                   </span>
                                   <span class="element-text">The zoom level can be increased 400% without more than one scrolling direction
                                   </span>
                               </li>
                               <li class="element">
                                  <span class="checkbox">
                                    <i class="fa-solid fa-check "id= "check-icon"></i>
                                  </span>
                                  <span class="element-text">User Interface Components and Graphical Objects need to have a controst of at least 3:1 with nearby colours.
                                  </span>
                               </li>
                               <li class="element">
                                  <span class="checkbox">
                                    <i class="fa-solid fa-check "id= "check-icon"></i>
                                  </span>
                                  <span class="element-text">Give the user an option to change text spacing to their liking, it can for example be put in a preference section
                                  </span>
                               </li>
                               <li class="element">
                                  <span class="checkbox">
                                    <i class="fa-solid fa-check "id= "check-icon"></i>
                                  </span>
                                  <span class="element-text">Any content that shows up on hover or on focus  can be easily dismissed, remain visible as long as needed, and does not surprise users with sudden changes.
                                  </span>
                               </li>

                               </ul>
                      </div>
           </div>

        <div class="container-right">
          <div class="slideShow">
          <div class="slides">
          <section>
          <h1>1.1 Text Alternativ</h1>
          <br>
          <p class="Info"> Images only for decoration or otherwise not presented to the user need to not be disruptive for assistive technology.
           Even more simple, use CSS for decorative pieces. </p>
          <img src="/images/1.1.1.png" alt="Code example from HTML" width="455" height="50">
          <p class"Info"> Give non-text content a descriptive text alternative and if its complex add on a meaningful caption. </p>

          <br>

          <img src="/images/1.1.2.png" alt="Code example from HTML" width="455" height="50">
          <p class"Info"> You can also use aria-label/aria-labelby instead of alt </p>

          <br>

          <img src="/images/1.1.3.png" alt="Code example from HTML" width="455" height="50">
          <p class"Info"> Is the non-text content or object complex? Use long description. </p>

          <br>

          <img src="/images/1.1.4.png" alt="Code example from HTML" width="455" height="50">
          <p class"Info"> Convey the possible interaction with non-text content. </p>


          </section>

          <section>
          <h1> Time Based Media </h1>
          <br>
          <p class="Info"> Make a transcript and/or put captions alongside. The info should be equivalent. With both dialog,
           sound effects and explanation of what is happening in the same order as the audio/video. </p>

          <p class="Info">
          </section>

          <section>Innhold 3</section>
          <section>Innhold 4</section>
          </div>

          <div class="controls">
          <span class="left arrow">
            <i class="material-icons"> keyboard_arrow_left</i>
          </span>
          <span class="right arrow">
            <i class="material-icons">keyboard_arrow_right</i>
          </span>


          </div>
         </div>
</div>

        </div>





<%= javascript_include_tag "perceivable.js" %>
