---
title: Robust
---

<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" %>
<%= stylesheet_link_tag "robust" %>

<div class="page-header">
    <h1> 4. Robust </h1>
    <p>
      Start with the checklist, go through the tips from there and you are already far in you universal design journey.
    </p>
    <p>
      The content is based off Web Content Accessibility Guidelines (WCAG),
    what we provide are suggestions and you are encouraged to find different solutions as well
    </p>

  </div>

    <div class="container" data-component="checklist">

    <div class="container-left">
        <div class="checklist-container">
          <div class="btn" >
            <span class="text-btn" id="carousel-btn">4.1 Compatible</span>
            <span class="arrow-down">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>

          <ul class="checklist" >
            <li class="element">
              <span class="checkbox">
                <i class="fa-solid fa-check" id= "check-icon"></i>
              </span>
              <span class="element-text">Parsing
              <p> The website must be free of major coding errors.</p> </span>
            </li>
            <li class="element">
              <span class="checkbox">
                <i class="fa-solid fa-check" id= "check-icon"></i>
              </span>
              <span class="element-text">Name, Role, Value
              <p>All components should have names and roles decided in the code.</p></span>
            </li>
            <li class="element">
              <span class="checkbox">
                <i class="fa-solid fa-check " id= "check-icon"></i>
              </span>
              <span class="element-text">Status Messages
              <p>Users must receive notifications when important changes happen on the website.</p></span>
            </li>
          </ul>
        </div>

             </div>
             </div>

          <div class="container-right">
            <div class="slideShow">
            <div class="slides">
            <section>
            <h1>4.1 Compatible</h1>
            <br>
            <p class="Info"> The website must be free of major coding errors. </p>

            <h2>4.1.1 Parsing</h2>

            <p class="Info"> The website must be free of major coding errors. </p>

            <br>

            <h2>4.1.2 Name, Role, Value</h2>
            <p class="Info"> The website must be free of major coding errors. </p>

            <br>

            <h2>4.1.3 Status Messages</h2>
            <p class="Info"> The website must be free of major coding errors. </p>

            </section>



            </div>

            <div class="controls">
            <span class="right arrow">
            <i class="material-icons">keyboard_arrow_right</i>
            </span>
            <span class="left arrow">
            <i class="material-icons"> keyboard_arrow_left</i>
            </span>

            </div>
           </div>
  </div>

          </div>




  <%= javascript_include_tag "robust.js" %>