---
title: Table
---

<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" %>
<%= stylesheet_link_tag "table" %>

  <div class="page-header">
    <h1> Table </h1>
    <p>
    The users ability to perceive and understand the content on the website is the most important part of a developers job. This is why WCAGs 1st principle is Perceivable. We have broken the Guidelines into Action Points, to make it more understandable for web developers.
    </p>
    <p>
    By going through the checklist below on the left you will get a starting point, and related tips, tricks and examples on the right for every checkpoint.
    The content is based off Web Content Accessibility Guidelines (WCAG), what we provide are simplified language, and easy action points for you to better the Universal Design of your website or application.
    </p>

  </div>



