<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" %>

<div class="page-header">
    <h1> 3. Understandable </h1>
    <p>
      Start with the checklist, go through the tips from there and you are already far in you universal design journey.
    </p>
    <p>
      The content is based off Web Content Accessibility Guidelines (WCAG),
    what we provide are suggestions and you are encouraged to find different solutions as well
    </p>
    <img id="understandable-logo" src="/images/head-side-brain.svg" alt="Understandable logo">
  </div>