---
title: Understandable
---

<%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" %>
<%= stylesheet_link_tag "understandable" %>

<div class="page-header">
    <h1> 3. Understandable </h1>
    <p>
      Start with the checklist, go through the tips from there and you are already far in you universal design journey.
    </p>
    <p>
      The content is based off Web Content Accessibility Guidelines (WCAG),
    what we provide are suggestions and you are encouraged to find different solutions as well
    </p>

  </div>




   <div class="container" data-component="checklist">

    <div class="container-left">
        <div class="checklist-container">
          <div class="btn" >
            <span class="text-btn" id="carousel-btn">3.1 Readable</span>
            <span class="arrow-down">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>

          <ul class="checklist" >
            <li class="element">
              <span class="checkbox">
                <i class="fa-solid fa-check" id= "check-icon"></i>
              </span>
              <span class="element-text">Check that the HTML element has a lang attribute.</span>
            </li>
            <li class="element">
              <span class="checkbox">
                <i class="fa-solid fa-check" id= "check-icon"></i>
              </span>
              <span class="element-text">Check that the human language of the content of the element is the same as the
              inherited language for the element as specified in HTML.</span>
            </li>
          </ul>
        </div>

        <div class="checklist-container">
          <div class="btn" >
             <span class="text-btn" id="carousel-btn">3.2 Predictable</span>
             <span class="arrow-down">
                   <i class="fa-solid fa-chevron-down"></i>
             </span>
            </div>

            <ul class="checklist">
              <li class="element">
                 <span class="checkbox" >
                  <i class="fa-solid fa-check" id= "check-icon"></i>
                 </span>
                 <span class="element-text">Check that no changes of context occur when any components receives focus. </span>
              </li>
              <li class="element">
                 <span class="checkbox">
                   <i class="fa-solid fa-check" id= "check-icon"></i>
                 </span>
                 <span class="element-text">3.2.2 Input</span>
              </li>
              <li class="element">
                   <span class="checkbox">
                      <i class="fa-solid fa-check" id= "check-icon"></i>
                   </span>
                   <span class="element-text">For each navigational component, check that the links or programmatic
                    references always is in the same relative order.</span>
              </li>
              <li class="element">
               <span class="checkbox">
                 <i class="fa-solid fa-check" id= "check-icon"></i>
               </span>
               <span class="element-text">Check that each component is associated with the text that identifies it.
               </span>
               </li>
            </ul>
          </div>

          <div class="checklist-container">
            <div class="btn">
               <span class="text-btn" id="carousel-btn">3.3 Input Assistance</span>
               <span class="arrow-down">
                 <i class="fa-solid fa-chevron-down"></i>
               </span>
              </div>

                <ul class="checklist">
                  <li class="element">
                   <span class="checkbox">
                      <i class="fa-solid fa-check "id= "check-icon"></i>
                   </span>
                    <span class="element-text">Check that a text description is provided identifying the mandatory
                    fields that was not completed.</span>
                    </li>
                    <li class="element">
                      <span class="checkbox">
                       <i class="fa-solid fa-check "id= "check-icon"></i>
                      </span>
                      <span class="element-text">Check that there is a label element that identifies the purpose of the
                      control before/after the input, textarea, or select element.</span>
                     </li>
                     <li class="element">
                       <span class="checkbox">
                         <i class="fa-solid fa-check "id= "check-icon"></i>
                       </span>
                       <span class="element-text">Trigger the error that causes the alertdialog to appear.</span>
                      </li>
                      <li class="element">
                      <span class="checkbox">
                          <i class="fa-solid fa-check "id= "check-icon"></i>
                       </span>
                       <span class="element-text">Before submission, the website has a mechanism that allows user to
                       review all information.</span>
                       </li>
                      </ul>
             </div>
             </div>

          <div class="container-right">
            <div class="slideShow">
            <div class="slides">
            <section>
            <h1>3.1 Readable</h1>
            <br>

            <p class="Info"> The content must be readable and understandable. </p>

            <br>

            <h2>3.1.1 Language of the page</h2>
            <p class="Info">The default human language of each web page can be programmatically determined.</p>
            <p class="Info"> The HTML code must contain a valid language code.</p>
            <p class="Info"> The language set in the code must be the same language as the content of the web page. </p>

            <br>

            <h3> Code Example: </h3>

            <img  src="/images/html-lang.png" alt="Code example" width="400" height="95">
            <img  src="/images/xthml-lang.png" alt="Code example" width="455" height="90">

            <br>

            <h2> 3.1.2 Language of the parts</h2>
            <p class="Info"> The human language of each passage or phrase in the content be programmatically determined
            except for proper names, technical terms, words of indeterminate language, and words or phrases that have
            become part of the vernacular of the immediately surrounding text. </p>

            <br>

            <h3> Code Example: </h3>
            <img src="/images/3.1.2.png" alt="Code example" width="455" height="95">

            <br>

            <p class="Info"> The attribute lang can be used in any HTML element. </p>

            </section>

            <section>
            <h1>3.2 Predictable</h1>
            <br>

            <h2> 3.2.1 Focus </h2>
            <p class="Info"> When any user interface component receives focus, it does not initiate
            a change of context.</p>
            <p class="Info"> Change of context: A new window open, focus are moved to a new component,
            user are sent to a new webpage, and the side content are drastically changed.</p>

            <br>

            <p class="Info"> The context should not change automatically when users navigate through the website.</p>.

            <br>

            <h2> 3.2.2 Input </h2>
            <p class="Info"> Changing the setting of any user interface component does not automatically cause a change
            of context unless the user has been advised of the behavior before using the component. </p>
            <p class="Info"> Change of setting: Is to change an aspect of the control that persists even after the user no longer
            interacts with it. </p>

            <br>

            <h3> Code Example: </h3>

            <br>

            <h2> 3.2.3 Consistent Navigation </h2>
            <p class="Info"> Navigational mechanisms that are repeated on multiple web pages within a set of
            web pages occur in the same relative order each time they are repeated, unless a change is initiated by
            the user.</p>
            <br>

            <p class="Info"> Objects/elements that repeats in multiplepages (minimum two) in the same website,
             should operate in the same relative order in all the pages that exist.</p>
            <p class="Info"> Navigation bar should have the same position on all the pages and the elements
            should have the same relative order. </p>

            <br>

            <h2> 3.2.4 Consistent Identification </h2>
            <p class="Info">Components that have the same functionality within a set of webpages are
            identified consistently.</p>
            <p class="Info"> Using labels, names, and text alternatives consistently for content that has the same
             functionality.</p>

            </section>

            <section>
            <h1>3.3 Input Assistance</h1>
            <br>

            <h2> 3.3.1 Error Identification </h2>
            <p class="Info"> If an input error is automatically detected, the item that is in error is identified and the
            error is described to the user in text.</p>

            <p class="Info"> When a mandatory form element is detecting a field that is not filled or missing,
            the user must receive a text error message and the error message has to describe the error. </p>

            <br>

            <p class="Info"> When it is detected that the data input is wrong and requires a specific type of data, then
            the user must receive a text error message. </p>

            <br>

            <h3> Code Example: </h3>
            <p class="Info"> Input data missing: </p>
            <img src="/images/3.3.1-datamissing.png" alt="Code example" width="455" height="120">
            <br>

            <p class="Info"> Incorrect data: </p>
            <img src="/images/3.3.1-incorrectdata.png" alt="Code example" width="455" height="120">
            <br>

            <h2> 3.3.2 Labels or Instruction </h2>
            <p class="Info"> Labels or instructions are provided when content requires user input. </p>
            <p class="Info"> User input means an input element where it requires the user to interact with data,
            for example: put in data, change data, add or confirm information when a user is filling a form. </p>
            <br>

            <p class="Info"> The input element has a visual identification in a form of label, instruction, icon, image,
            symbol and/or color.</p>
            <br>

            <h3> Code Example </h3>
            <img src="/images/3.3.2.png" alt="Code example" width="480" height="90">

            <br>

            <h2> 3.3.3 Error Suggestion </h2>
            <p class="Info"> If an input error is automatically detected and suggestions for correction are known, then
            the suggestions are provided to the user, unless it would jeopardize the security or purpose of the content.</p>

            <p class="Info"> When the input element is detecting an error, the user will get a suggestion of how the error
            can be corrected. This requirement applies to: Mandatory input element, specific input data or value, or when the
            input has wrong value or format.</p>

            <br>

            <h3> Code Example: </p>
            <p class="Info">How to use aria-alertdialog to notify someone they have entered a invalid data.</p>
            <img src="/images/3.3.3.png" alt="Code example" width="455" height="130">
            <br>

            <h2> 3.3.4 Error Prevention </h2>
            <p class="Info">For webpages that cause legal commitments or financial transactions for the user to occur,
             that modify or delete user-controllable data in data storage systems, or submit user test responses.</p>

            <p class="Info"> To achieve this criteria, at least one of the following alternatives are required: </p>
            <p class="Info"> Reversible: Submissions are reversible. </p>
            <p class="Info"> Checked: Data entered by the user is checked for input errors and the user is provided an
            opportunity to correct them.</p>
            <p class="Info"> Confirmed: A mechanism is available for reviewing, confirming, and correcting information before
             finalizing the submission.</p>



            </section>

            </div>

            <div class="controls">
            <span class="left arrow">
              <i class="material-icons"> keyboard_arrow_left</i>
            </span>
                <span class="right arrow">
              <i class="material-icons">keyboard_arrow_right</i>
            </span>

            </div>
           </div>
  </div>

          </div>










  <%= javascript_include_tag "understandable.js" %>
