<%= stylesheet_link_tag "autochecks" %>

<div class="page-header">
  <h1>Automatic Accessibility checkers</h1>
  <p>
    In this page you will find automatic checkers for accessibility. Below is a list of webpages of functional websites (most of them free)  that offers different automatic accessibility checkers.
    Each of these works different, meaning they have different method to check if your website is accessible, some only checks for one subject of accessibility, and each have specific requirements for you to be able to use it.
  </p>
   <p> Use this automatic testers if you want to have an overview of your website and see what area needs to imporve. Here you can choose freely what you want to use and test which site you prefer.
  </p>
</div>

<div class="box-container">
<div class="rectangle">
<h2>Site improve</h2>
<p> Automatic checks elements of your page, including links, images, and forms, and in result gives you an accessibility score based of the WCAG 2.2 standards. It futher tells how many WCAG level (A, AA or AAA) the webpage passed.
    Requires your webpage URL, an email and type of industry of your company/webpage. </p>
 <%= link_to 'www.siteimprove.com', 'https://www.siteimprove.com' %>

<br>

<p id="T">Tags</p>
<ul>
  <li> Accessibility </li>
</ul>
<ul>
  <li> WCAG 2.2 </li>
</ul>
</div>

<div class="rectangle">
<h2>Monsido</h2>
<p> Automatic checks elements of your page, including links, images, and forms, and in result gives you an accessibility score based of the WCAG 2.2 standards. It futher tells how many WCAG level (A, AA or AAA) the webpage passed.
    Requires your webpage URL, an email and type of industry of your company/webpage. </p>
 <%= link_to 'www.monsido.com', 'https://monsido.com' %>

<br>

<p id="T">Tags</p>
<ul>
  <li> Accessibility </li>
</ul>
<ul>
  <li> WCAG 2.2 </li>
</ul>
</div>

<div class="rectangle">
<h2>Wave</h2>
<p> Automatic checks elements of your page, including links, images, and forms, and in result gives you an accessibility score based of the WCAG 2.2 standards. It futher tells how many WCAG level (A, AA or AAA) the webpage passed.
    Requires your webpage URL, an email and type of industry of your company/webpage. </p>
 <%= link_to 'www.wave.webaim.org', 'https://wave.webaim.org' %>

<br>

<p id="T">Tags</p>
<ul>
  <li> Accessibility </li>
</ul>
<ul>
  <li> WCAG 2.2 </li>
</ul>
</div>

<div class="rectangle">Box 4</div>
</div>