<div class="page-header">
  <div> <h1>Make webpages accessible for everyone</h1> </div>
  <div class="info-home">
  <div class="home-info1">
  <p>
    When making a website today you need to invest more time and resources into Universal Design (from now called UD).
  </p>
  <p>OpenUI focuses of making it easier for developers to make websites more accessible by following WCAG standard and best practice from good design guidance like W3school.
  </p>
  </div>
  <div class="home-info2">
  <img id="auto" src="/images/setting.png" alt="">
  <p>Start by doing an Automatic check in one of the websites we have gathered for you, they are a great place to start if you have an already launched website.
  </p>
  <img id="manual" src="/images/checked.png" alt="">
  <p>By going through our Manual universal design checks you will both understand what you have to do and why it has to be that way. The manual UD checker is both applicable for launched and not launched sites and applications.
  </p>
  </div>
  </div>
</div>

<div class="boxes">
  <div class="box">
    <a href="<%= guides_path %>">Manual Guides to Accessibility</a>
    <p>Guides to manually check the accessibility of your website or application.</p>
  </div>
  <div class="box">
    <a href="<%= autochecks_path %>">Automatic Accessbility Checkers</a>
    <p>Links to automatic accessibility checks for your launched website or application.</p>
  </div>
</div>
