<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Use the title from a pages frontmatter if it has one -->
    <title><%= current_page.data.title || "Bachelor" %></title>
    <%= stylesheet_link_tag "home" %>
    <%= javascript_include_tag "site" %>
  </head>
<body>

<div class="HeaderP">
<h1> Header </h1>
<br>
<p> When making a website today you need to invest more time and resources into Universal Design (from now called UD).
    You can start by doing an automatic check in one of the websites we have gathered for you, they are a great place to start if you have an already launched website.
    By going through our Manual universal design checks you will both understand what you have to do and why it has to be that way.
    The manual UD checker is both applicable for launched and not launched sites and applications.
</p>
</div>

<div class="boxes">
   <div class="box1">
   <a href="guides.html">Manual Guides to Accessibility</a>
   <p>Guides to manually check the accessibility of your website or application.</p>
   </div>
   <div class="box2">
   <a href="autochecks.html">Automatic Accessbility Checkers</a>
   <p>Links to automatic accessibility checks for your launched website or application.</p>
   </div>


</div>

</body>
</html>
